<% @products['result'].each do |product| %>
  <section>
      <%= link_to product['name'], product_path(product['id']) %>
      <%= format_price product['price_in_cents'] %>
      (SALE PRICE: <%= sale_price(product['price_in_cents'], product['limited_time_offer_savings_in_cents']) %>!!)
  </section>
<% end %>