
<h1><%= @product['name'] %></h1>
<h4>You get <%= @product['bonus_reward_miles'] %> reward miles for this liquordrink.</h4>
<%= image_tag @product['image_thumb_url'] %>
<p><%= link_to "Back to ALL THE LIQUOR", products_path %></p>

